.moviepage {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.moviepage__card {
  background-color: #fff;
  width: 80%;
  height: 80%;
  display: flex;
}

.moviepage__movie-poster {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #242424;
}

.moviepage__movie-poster img {
  width: 40%;
}

.moviepage__info-container {
  flex: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  flex-direction: column;
  position: relative;
}
